<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin landing page</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>
<body>
    <div class="fondo">
        <div class="contenido">
        <h1>Gatos legendarios según Ojetegusano</h1>
        <h2>Estos son los gatos que según mi gato han sido parte del capital mitológico de los gatos.</h2>
        <div class="contenedor">
            <div class="items">
                <div class="fotos">
                    <img src="../imgs/miratheon.webp" alt="Miratheon">
                    <h2>La Leyenda de Míratheon, el Gran Gato</h3>
                    <p>En un tiempo antiguo, en un reino olvidado por la memoria humana, reinaba Míratheon, el Gran Gato. Según la imaginación de un gato doméstico con delirios de grandeza, Míratheon no era un simple felino, sino una deidad majestuosa y poderosa. Con una corona de oro reluciente y ojos que brillaban con una luz mística, Míratheon gobernaba sobre un paisaje fantástico lleno de castillos imponentes y cielos iluminados por la luna. Cubierto con una capa ondeante que reflejaba los colores del crepúsculo, Míratheon poseía una aura de energía mágica que llenaba el aire de misterio y grandeza. Su historia se contaba entre los gatos como un cuento de valor, poder y dominación sobre todas las criaturas del reino. Cada gato, al contemplar la noche estrellada, susurraba su nombre con reverencia, soñando con el día en que Míratheon regresaría para reclamar su trono celestial.</p>
                </div>
            </div>

            <div class="items">
                <div class="fotos">
                    <img src="../imgs/felisplume.webp" alt="Felisplume">
                    <h2>La Leyenda de Felisplume, el Guardián Alado</h3>
                    <p>En los reinos olvidados por el tiempo, surge la figura majestuosa de Felisplume, el Guardián Alado. Según la imaginación de un gato doméstico con delirios de grandeza, Felisplume no era un simple felino, sino una entidad legendaria revestida con una armadura plateada brillante y alas que desafiaban la gravedad. En su pecho colgaba un amuleto resplandeciente, fuente de su misterioso poder.

                        Felisplume gobernaba un mundo mágico de islas flotantes y cielos estrellados, donde las ruinas místicas contaban historias de su poder y sabiduría. Sus alas extendidas simbolizaban la libertad y la vigilancia eterna, mientras que su amuleto irradiaba una luz que mantenía a raya a las fuerzas oscuras.
                        
                        Entre los gatos, se contaba que Felisplume protegía los secretos de los cielos y otorgaba visiones a aquellos que soñaban bajo la bóveda estrellada. Cada noche, alzaban la vista al firmamento, susurrando su nombre con esperanza, confiando en que algún día, Felisplume descendería para guiarlos hacia un nuevo amanecer de esplendor y magia</p>
                </div>
            </div>

            <div class="items">
                <div class="fotos">
                    <img src="../imgs/Zathriona.webp" alt="Zathriona">
                    <h2>La Leyenda de Zathriona, la Emperatriz Mística
                    </h3>
                    <p>En los reinos olvidados por el tiempo, surge la figura majestuosa de Felisplume, el Guardián Alado. Según la imaginación de un gato doméstico con delirios de grandeza, Felisplume no era un simple felino, sino una entidad legendaria revestida con una armadura plateada brillante y alas que desafiaban la gravedad. En su pecho colgaba un amuleto resplandeciente, fuente de su misterioso poder.

                        Felisplume gobernaba un mundo mágico de islas flotantes y cielos estrellados, donde las ruinas místicas contaban historias de su poder y sabiduría. Sus alas extendidas simbolizaban la libertad y la vigilancia eterna, mientras que su amuleto irradiaba una luz que mantenía a raya a las fuerzas oscuras.
                        
                        Entre los gatos, se contaba que Felisplume protegía los secretos de los cielos y otorgaba visiones a aquellos que soñaban bajo la bóveda estrellada. Cada noche, alzaban la vista al firmamento, susurrando su nombre con esperanza, confiando en que algún día, Felisplume descendería para guiarlos hacia un nuevo amanecer de esplendor y magia</p>
                </div>
            </div>
            

        </div>
        </div>
    </div>
</body>
</html>